<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
      
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control">
                </div>
             
            </div>
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>SL/NO</th>
                            <th scope="col">Id</th>
            
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                           <th scope="col">Payment Status</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end"> Action </th>
                        </tr>
                    </thead>
                    <tbody> 
                        <% if (locals.order?.length !== 0) { %>
                            <% for(let i=locals.order.length-1; i>=0; i--) { %>
                              <tr>
                                <td><%= locals.order.length-i %></td>
                                <td><span class=""><%=locals.order[i].orders.hashedId%></span></td>
                                <td>₹ <%=locals.order[i].orders.totalPrice %></td>
                                <td><span class="badge rounded-pill alert-success"><%=locals.order[i].orders.paymentStatus%></span></td>
                                <td><span class="badge rounded-pill alert-success"><%= locals.order[i].orders.paymentMethod %></span></td>
                                <td><%=locals.order[i].orders.createdAt.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' }) %></td>
                                <td class="text-end">
                                  <a href="/admin/order-details/?orderId=<%= locals.order[i].orders._id %>&userId=<%= locals.order[i].user %>"class="btn btn-md rounded font-sm">Detail</a>
          
                                    
                                    </div>
                                  </div> <!-- dropdown //end -->
                                </td>
                              </tr>
                            <% } %> 
                          <% } %>
                          
    
                      </tbody>

                </table>
               
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <% for(let i=1;i<=pages2;i++){%>
                    <li class="page-item active">
                      <a class="page-link" href="/admin/orderslist?page=<%=i%>"
                        ><%= i%></a
                      >
                    </li>
                    <%}%>
                    <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
            </ul>
        </nav>
    </div>
</section>