<section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Order Detail</h2>
        <!-- <p>Details for Order ID: 3453012</p> -->
      </div>
    </div>
    <div class="card">
      <header class="card-header">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
            <span>
              <i class="material-icons md-calendar_today"></i> <b></b>
            </span> <br>
            <small class="text-muted">Order ID:<%=orderDetails[0].orders._id%></small>
          </div>

          <% for (let i=orderDetails.length-1 ; i>= 0 ; i--) { %>
          <% if (orderDetails[i].orders.orderConfirm !== 'Returned') { %>
            <select id="orderStatus" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
              <option value="confirmed" <%= (orderDetails[i].orders.orderStatus === 'confirmed') ? 'selected' : '' %>>Confirmed</option>
              <option value="shipped" <%= (orderDetails[i].orders.orderStatus === 'shipped') ? 'selected' : '' %>>Shipped</option>
              <option value="delivered" <%= (orderDetails[i].orders.orderStatus === 'delivered') ? 'selected' : '' %>>Delivered</option>
              <option value="canceled" <%= (orderDetails[i].orders.orderStatus === 'canceled') ? 'selected' : '' %>>Cancel</option>
            </select>
          <% } else { %>
            <p class="text-danger">Returned</p>
          <% } %>
          <% } %>
          
          
  
                  
                  
                
            <!-- <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a> -->
          </div>
        </div>
      </header> <!-- card-header end// -->
      <div class="card-body">
        <div class="row mb-50 mt-20 order-info-wrap">
          <div class="col-md-4">
            <article class="icontext align-items-start">
              <span class="icon icon-sm rounded-circle bg-primary-light">
                <i class="text-primary material-icons md-person"></i>
              </span>
              <div class="text">
                <h6 class="mb-1">Customer</h6>
                <p class="mb-1">
                    <%=userDetails.firstName%>
                    <br> <template class="__cf_email__" data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template> <br><%=userDetails.contact%>

                </p>
                <a href="#">View profile</a>
              </div>
            </article>
          </div> 
          <div class="col-md-4">
            <article class="icontext align-items-start">
              <span class="icon icon-sm rounded-circle bg-primary-light">
                <i class="text-primary material-icons md-local_shipping"></i>
              </span>
              <div class="text">
                <h6 class="mb-1">Order info</h6>
                
                <p class="mb-1">  Payment Status:    <%=orderDetails[0]. orders.paymentStatus%>  </p>
                <p class="mb-1"> Payment Method:    <%=orderDetails[0]. orders.paymentMethod%> </p>
                <p class="mb-1">  Order Status: <%=orderDetails[0]. orders.orderConfirm%>   </p>
                 
              
                <a href="#">Download info</a>
              </div>
            </article>
          </div> 
          <div class="col-md-4">
            <article class="icontext align-items-start">
              <span class="icon icon-sm rounded-circle bg-primary-light">
                <i class="text-primary material-icons md-place"></i>
              </span>
              <div class="text">
                <h6 class="mb-1">Deliver to</h6>
                <p class="mb-1">
                 
                    


                </p>
                <a href="#">View profile</a>
              </div>
            </article>
          </div> <!-- col// -->
        </div> <!-- row // -->
        <div class="row">
          <div class="col-lg-7">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th width="40%">Product</th>
                    <th width="20%">Unit Price</th>
                    <th width="20%">Quantity</th>
                    <th width="20%" class="text-end">Total</th>
                  </tr>
                </thead>
                <tbody>
                    <% for(let i=0;i<locals.productTotalPrice.length;i++){ %>
                     
                       
                  <tr>
                    <td>
                      <a class="itemside" href="#">
                 
                        <div class="left">
                          <img src="<%= productTotalPrice[i].  productDetails.image.image1%>  " width="40" height="40" class="img-xs" alt="Item">
                        </div>
                      
                        <div class="info"> <%= productTotalPrice[i].  productDetails. productName%> </div>
                      </a>
                    </td>
                    <td>₹<%= productTotalPrice[i].  productDetails. productPrice%> </td>
                    <td> <%= productTotalPrice[i].  productDetails.quantity%> </td>

                        <td class="text-end">₹ <%= productTotalPrice[i]. totalPrice%> </td>
                  </tr>
                  <% } %>
                 
                  <tr>
                    <td colspan="4">
                      <article class="float-end">
                        <dl class="dlist">
                          <dt>Subtotal: </dt>
                          <dd>₹ <%=orderTotalPrice%> </dd>
                        </dl>
                        <dl class="dlist">
                          <dt>Shipping cost:</dt>          
                          <dd>₹00.00</dd>
                        </dl>
                        <dl class="dlist">
                          <dt>Grand total: </dt>
                          <dd> <b class="h5">₹ <%=orderTotalPrice%></b> </dd>
                        </dl>
                        <dl class="dlist">
                          <dt class="text-muted">Status:</dt>
                          <dd>
                            <span class="badge rounded-pill alert-success text-success"><%=orderDetails[0]. orders.paymentStatus%></span>
                          </dd>
                        </dl>
                      </article>
                    </td>
                  </tr>
                </tbody>
  
              </table>
            </div> <!-- table-responsive// -->
          </div> <!-- col// -->
          <div class="col-lg-1"></div>
          <div class="col-lg-4">
            <div class="box shadow-sm bg-light">
              <h6 class="mb-15">Payment info</h6>
              <p>
                <img src="/backEnd/imgs/card-brands/2.png" class="border" height="20"> Master Card **** **** 4768 <br>
                Business name: Grand Market LLC <br>
                Phone: +1 (800) 555-154-52
              </p>
            </div>
  
          </div> <!-- col// -->
        </div>
      </div> <!-- card-body end// -->
    </div> <!-- card end// -->
  </section> <!-- content-main end// -->
    


  <script>
 const selectOrderStatus = document.getElementById("orderStatus");
selectOrderStatus.addEventListener("change", function () {
  const orderId = "<%=orderDetails[0]. orders._id%>";

  const status = selectOrderStatus.value;
  console.log(status);

  updateOrderStatus(orderId, status);
});

function updateOrderStatus( orderId, status){
    $.ajax({
        url : '/admin/change-order-status',
        method : 'POST',
        data: {
            orderId : orderId,
            status : status
        },
        success:(response)=>{
            location.reload()
            console.log('--------------------');
        }
    })
}

    </script>
  
  
 