




<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table shopping-summery text-center clean">
                        <thead>
                        
                            <tr class="main-heading">
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <% for(let i=0;i<locals.cartdetails.length;i++){ %>
                        <tbody>
                      
                            <tr>
                                <td class="image product-thumbnail"><img src=<%= cartdetails[i].carted.images.image1%> alt="#"></td>
                                <td class="product-des product-name">
                                    <h5 class="product-name"><a href="shop-product-right.html"><%= cartdetails[i].carted.name%></a></h5>
                                    <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy magndapibus.
                                    </p>
                                </td>
                                <td class="price" data-title="Price"><span id="prodPrice-<%= cartdetails[i].item._id %>"><%= cartdetails[i].carted.price%></span></td>
                                <td class="text-center" data-title="Stock">
                                    <div  id="quantty-form"  class="detail-qty border radius  m-auto">
                                        <a  onclick="changeQuantity('<%= cartdetails[i]._id %>' ,'<%= cartdetails[i].item._id %>','<%=user._id%>',-1)" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                        <span id="qty-val-<%= cartdetails[i].item._id %>" class="qty-val"><%= cartdetails[i].quantity%></span>
                                        <a onclick="changeQuantity('<%= cartdetails[i]._id %>' ,'<%= cartdetails[i].item._id %>','<%=user._id%>',1)"class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                    </div>
                                </td>
                                <td class="text-right" data-title="Cart">
                                    <span id="subTotal-<%= cartdetails[i].item._id %>"><%= cartdetails[i].subtotal%></span>
                                </td>
                                <td class="action" data-title="Remove">
                                    <button href="" class="text-muted" onclick="deleteProduct ('<%=cartdetails[i]._id %>','<%=cartdetails[i].item._id%>')">
                                      <i class="fi-rs-trash"></i>
                                </button>
                                  </td>
                                  
                            <% } %>
                                <!-- <td colspan="6" class="text-end">
                                    <a href="#" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                </td> -->
                            </tr>
                        </tbody>
                                       
                    
                                       
                                       
                                       


                    </table>
                </div>
                <!-- <div class="cart-action text-end">
                    <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                    <a href=class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                </div> -->
                <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                <div class="row mb-50">
                    <div class="col-lg-6 col-md-12">
                        <div class="heading_s1 mb-3">
                       
                        </div>
                       
                   
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="border p-md-4 p-30 border-radius cart-totals">
                            <div class="heading_s1 mb-3">
                                <h4>Cart Totals</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="cart_total_label">Cart Subtotal</td>
                                            <td class="cart_total_amount"><span class="font-lg fw-900 text-brand"><%= cartdetails.subtotal %></span></td>
                                        </tr>
                                        <tr>
                                            <td class="cart_total_label">Shipping</td>
                                            <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                        </tr>
                                        <tr>
                                            <td class="cart_total_label">Total</td>
                                            <td class="cart_total_amount"><strong><span id="total" class="font-xl fw-900 text-brand"><%=total%></span></strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href='/getcheckoutpage' class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>



<script> 
 function changeQuantity(cartId, proId, userId,  count) {
    const quantity = document.getElementById(`qty-val-${proId}`).innerHTML;
    const subTotal = document.getElementById(`subTotal-${proId}`).innerText;
console.log("subtotaql",subTotal);
    count = parseInt(count)
    if (quantity == 1 && count == -1) {
      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!',
        timer: 3000
      }).then((result) => {
        if (result.isConfirmed) {
          $.ajax({
            url: '/change-product-quantity',
            method: 'PATCH',
            data: {
              cartId: cartId,
              proId: proId,
              userId: userId,
              count: count,
              quantity: quantity, 
            },
            success: (response) => {
              console.log(response.status,'ll');
              if (response.status) {
                location.reload()
              }
            }
          })
        }
      })
    } else {
      $.ajax({
        url: '/change-product-quantity',
        method: 'PATCH',
        data: {
          cartId: cartId,
          proId: proId,
          userId: userId,
          count: count,
          quantity: quantity
        },
        success: (response) => {
          if (response.status) {
            const qtyElem = document.querySelector(`#qty-val-${proId}`);
            qtyElem.innerText = response.newQuantity;
            // const subTotalVal = document.querySelector(`#subTotal-${proId}`);
            // subTotalVal.innerText = '₹' + response.subTotal.totals[index];
            console.log(response)
            document.getElementById(`subTotal-${proId}`).innerHTML =  response.newQuantity*parseInt(document.getElementById(`prodPrice-${proId}`).innerHTML)
            document.getElementById('total').innerHTML = response.total
            // location.reload()
          }
        }
      })
    }
   
    
  }
  
  function deleteProduct(cartId, proId) {
        console.log("???????????????",cartId,proId)
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!',
      timer: 3000
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: '/delete-product-cart',
          method: 'DELETE',
          data: {
            cartId: cartId,
            proId: proId
          },
          success: (response) => {
            if (response.status) {
              location.reload()
            }
          }
        })
      }
    })
  }

  



            </script>